<%= form_for(@availability, html: { multipart: true }) do |f| %>
  <div class="field">
    <%= f.label :meeeting_day %>
    <%= f.date_field :meeeting_day, placeholder: "Date of your meeting" %>
  </div>
  <div class="field">
    <%= f.label :meeeting_time %>
    <%= f.datetime_field :meeeting_time, placeholder: "Time of your meeting" %>
  </div>  
  <div class="field">
    <%= f.label :meeeting_location %>
    <%= f.text_field :meeeting_location, placeholder: "Location of your meeting" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
