<div><%= @teacher.first_name %>, <%= @teacher.email %> </div>
<div><%= @teacher.bio %></div>
<div><%= @teacher.regular_hours %></div>
<% if logged_in? && current_teacher.id = Teacher.find(params[:id]) %>
	<div><%= link_to "Log out", logout_path, method: :delete %></div>
	<div><%= link_to "Settings", edit_teacher_path(current_teacher.id||=1) %></div>
<% end %>
